/***********
 Slide margins and spacings
 ***********/
.remark-slide-content {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
}

/*************************
          orientation
**************************/

.pull-left-2 {
  float: left;
  width: 60%;
}
.pull-right-1 {
  float: right;
  width: 36%;
}

.pull-left-1 {
  float: left;
  width: 36%;
}
.pull-right-2 {
  float: right;
  width: 60%;
}


.pull-right {
  float: right;
  width: 48%;
}

.pull-left {
  float: left;
  width: 48%;
}

/* use to position text at the bottom */
.pull-down {
  position: absolute;
  bottom: 100px;
}

.pull-down-small_margin {
  position: absolute;
  bottom: 25px;
}



.columns-2 {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.columns-21 {
  -webkit-columns: 66%, 33%;
  -moz-columns: 66%, 33%;
  columns: 66%, 33%;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

/*************************
          other main classes 
**************************/

/* Change default inverse background colour */
.inverse {
  background-color: #0148A4;
  text-shadow: 0 0 20px #333;
}
.inverse .remark-slide-number {
  display: none;
}
/* background colour classes */
.sydney-blue {
  background-color: #0148A4;
  color: white;
}
.sydney-yellow {
  background-color: #FFB800;
}
.sydney-red {
  background-color: #e64626;
  color: white;
}
/* segue */
.segue {
  text-align:center;
  vertical-align: middle;
  background-color: #0148A4;
  color: #ffffff;
  text-shadow: 0 0 20px #333;
}
.segue .remark-slide-number {
  display: none;
}

.segue-red {
  text-align:center;
  vertical-align: middle;
  background-color:  #004c93;
  color: #ffffff !important;
  text-shadow: 0 0 20px #333;
}
.segue-red .remark-slide-number {
  display: none;
}

.segue-yellow {
  text-align:center;
  vertical-align: middle;
  background-color: #FFB800;
  color: #424242;
  text-shadow: 0 0 2px #333;
}
.segue-yellow .remark-slide-number {
  display: none;
}

/* example slide with background colour to distinguish
it from other content slides */
.eg {
  background-color: #F1F1F1;
  /* rgb(231, 238, 242); */
}
.eg.nobackground {
  background-color:white;
}

/*
.remark-code-line {
  background-color: green;
}
*/

.exercise_slide {
  background-color: #dfe4f2; /* #dfe4f2 #efe4bf; */
}

/*.exercise_slide .remark-code-line {
  background-color: #FFFFFF; /* #dfe4f2; /* #a7b3d7;  
  border-radius: 3px;
} 
*/

.exercise_slide .hljs {
    display: block;
    overflow-x: auto;
    padding: 2px;
    color: #333;
    background: #FFFFFF; /*  #dfe4f2; /*#a7b3d7; */
    border-radius: 15px;
}

.exercise_slide .hljs-github .hljs {
    background: #FFFFFF !important;
}



/*************************
          other stuff  
**************************/

/* link colour */
a { 
    color: #0148A4; 
} 

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.1em;
    color: #333;
    background: #f8f8f8;
    border-radius: 15px;
}

.hljs-github .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.2em;
    color: #333;
    background: #f8f8f8;
}


pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0.5em 0px;
}

/******************
 * scroll-boxes
 ******************/

.scroll-box-8 {
  height:8em;
  overflow-y: scroll;
}
.scroll-box-10 {
  height:10em;
  overflow-y: scroll;
}
.scroll-box-12 {
  height:12em;
  overflow-y: scroll;
}
.scroll-box-14 {
  height:14em;
  overflow-y: scroll;
}
.scroll-box-16 {
  height:16em;
  overflow-y: scroll;
}
.scroll-box-18 {
  height:18em;
  overflow-y: scroll;
}
.scroll-box-20 {
  height:20em;
  overflow-y: scroll;
}
.scroll-output {
  height: 90%;
  overflow-y: scroll;
}


 /* inline code background */
 .remark-inline-code {
   /* until the link between code and mathjax 
   is broken, we need to use transparent */
  background: transparent; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 2px;
}



/******************
 * Coloured content boxes
 ****************/
.content-box { 
    box-sizing: border-box;
    background-color: #004c93;
    border-color: #004c93;
}
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-white,
.content-box-yellow {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 0 0 15px;
  overflow: hidden;
  padding: 0px 20px 0px 20px;
  width: 100%;
  border-color: #004c93;
  border-left: solid 2px #004c93;
}
.content-box-blue { background-color: #F0F8FF; }
.content-box-gray { background-color: #e2e2e2; }
.content-box-grey {	background-color: #F5F5F5; }
.content-box-army {	background-color: #737a36; }
.content-box-green { background-color: #d9edc2; }
.content-box-purple { background-color: #e2e2f9; }
.content-box-red { background-color: #ffcccc; }
.content-box-yellow { background-color: #fef5c4; }
.content-box-blue .remark-inline-code,
.content-box-blue .remark-inline-code,
.content-box-gray .remark-inline-code,
.content-box-grey .remark-inline-code,
.content-box-army .remark-inline-code,
.content-box-green .remark-inline-code,
.content-box-purple .remark-inline-code,
.content-box-red .remark-inline-code,
.content-box-yellow .remark-inline-code { 
  background: none;
}

.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}



/***********
 Changed CSS
 **************/

.opacity{ opacity: 0.5; }
.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.grayscale img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/**************
 * Fancy stuff
 **************/
.rotate-left {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg); 
}
.rotate-right {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);     
}
/********** 
 * Image stuff
 ************/
.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
}
.shadow {
    -moz-border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #aaa;
    -webkit-box-shadow: 5px 5px 5px #aaa;
    box-shadow: 5px 5px 5px #aaa;
    border-radius: 2px;  
}


/* disable background colour when printing */

@page { margin: 0; }
@media print {
  .inverse, .segue, .segue-yellow, .segue-red, .sydney-blue, .exercise,
  .sydney-yellow, .sydney-red {
    background-color: transparent;
    color: black;
    text-shadow: none;
  }
  .inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .segue {
    background-color: transparent;
    color: black;
    text-shadow: none;
  }
  .eg {
    background-color: transparent;
  }
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}



/*~~~~~~~~~~~~~~~~*/
/* UDE additions */
/*~~~~~~~~~~~~~~~~*/


.title-slide {
    background-color:  #004c93;  /*#e64626; */
    background-image: url(../assets/ude_logo.png);
    background-position: 7% 10%;
    background-size: 220px;
  /*text-align:left; */
  /*text-shadow: none;
  text-shadow: 0 0 5px #333;
  padding-left: 100px;   delete this for 4:3 aspect ratio */
}



/* Remove slide count */
.title-slide .remark-slide-number {
  display: none;
}

/* USYD blockquote */
blockquote, .blockquote {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: solid 10px #004c93; /* #e64626; */
  border-top: solid 2px #004c93; /* #e64626; */
  border-bottom: solid 2px #004c93; /* #e64626; */
  border-right: solid 2px #004c93; /* #e64626; */
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  /* background-color: #e64626; */
  color: #004c93; /* #e64626; */
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 5px;
  padding-bottom: 1px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.blockquote p {
  margin-top: 0px;
  margin-bottom: 5px;
}



/* if wanted to change mathjax formatting
.remark-inline-code .mjx-chtml {
  color: blue;
}
*/

/* References: many customisations adapted from the examples here:
https://github.com/yihui/xaringan/tree/master/inst/rmarkdown/templates/xaringan/resources
*/



.remark-slide table {
  margin: auto;
  border-top: 1px solid #0000000;
  border-bottom: 1px solid #000000;
  /*added by Alex */
  border-collapse: separate;
  border-spacing: 0 1px;
}

.remark-slide table thead th { 
 /*  border-top: 1px solid #000000;*/
  border-bottom: 1px solid #000000; 
}

/* .remark-slide table thead th { border-bottom: 1px solid #ddd; } */

th, td { padding-right: 10px; }


.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #FFFFFF}


/**/

p span {
  display: block;
}
